
file_storage/audio_in/*
!file_storage/audio_in/.gitkeep

file_storage/recording_out/*
!file_storage/recording_out/.gitkeep

file_storage/audio_result/*
!file_storage/audio_result/.gitkeep

file_storage/test_files/*
!file_storage/test_files/.gitkeep

file_storage/json_dump/*
!file_storage/json_dump/.gitkeep

file_storage/session_result/*
!file_storage/session_result/.gitkeep

services/__pycache__/
**/__pycache__/

venv/